go 1.25.7

use (
	./Olympus2
	./Olympus2/00000-Identity-Foundations/010-Vision/900-AegisGuardian
	./Olympus2/00000-Identity-Foundations/020-Blueprints/00100-ADCIdentity
	./Olympus2/20000-Context-Bridges/900-CapabilityProvider
	./Olympus2/20000-Context-Bridges/900-CapabilityProvider/P0000-pkg/000-transpiler/000-generator
	./Olympus2/20000-Context-Bridges/900-CapabilityProvider/P0000-pkg/000-transpiler/000-ir
	./Olympus2/20000-Context-Bridges/900-CapabilityProvider/P0000-pkg/000-transpiler/000-llm
	./Olympus2/30000-Federated-Services/310-Core-Registry/900-OlympusRegistry
	./Olympus2/30000-Federated-Services/320-Bridges/900-FederatedBridge
	./Olympus2/30000-Federated-Services/320-Bridges/900-FederatedBridge/P0000-pkg/000-a2a
	./Olympus2/30000-Federated-Services/320-Bridges/900-FederatedBridge/P0000-pkg/000-handshake
	./Olympus2/30000-Federated-Services/330-Ontology/900-FederatedOntologist
	./Olympus2/30000-Federated-Services/330-Ontology/900-FederatedOntologist/P0000-pkg/000-identity
	./Olympus2/30000-Federated-Services/330-Ontology/900-FederatedOntologist/P0000-pkg/000-pulse_service
	./Olympus2/40000-Communication-Contracts/430-Protocol-Definitions/000-gen/000-000-v1
	./Olympus2/40000-Communication-Contracts/430-Protocol-Definitions/000-gen/000-000-v1/000-olympusv1connect
	./Olympus2/50000-Intelligence-Framework/520-Prompt-Synthetics
	./Olympus2/50000-Intelligence-Framework/530-Semantic-Cartography
	./Olympus2/50000-Intelligence-Framework/530-Semantic-Cartography/P0000-pkg/000-grammar
	./Olympus2/50000-Intelligence-Framework/530-Semantic-Cartography/P0000-pkg/000-taxonomy
	./Olympus2/60000-Information-Storage/610-Memory-Anchors/900-MemoryAnchor
	./Olympus2/70000-Environmental-Harness/900-EnvironmentHarness
	./Olympus2/80000-System-Governance/820-Sovereign-Audit/900-SovereignAudit
	./Olympus2/90000-Enablement-Labs/900-Forge
	./Olympus2/90000-Enablement-Labs/900-Forge/000-internal/000-agent
	./Olympus2/90000-Enablement-Labs/910-provisioner
	./Olympus2/90000-Enablement-Labs/P0000-pkg/000-actor
	./Olympus2/90000-Enablement-Labs/P0000-pkg/000-forge-context
	./Olympus2/90000-Enablement-Labs/P0000-pkg/000-mcp-bridge
	./Olympus2/90000-Enablement-Labs/P0000-pkg/000-mesh
	./Olympus2/90000-Enablement-Labs/P0000-pkg/000-resonance
	./Olympus2/90000-Enablement-Labs/P0000-pkg/000-whisper
	./Olympus2/C0700-System-Operations
	./Olympus2/C0990-Ephemeral-Scratch
	./OlympusForge/00000-Identity-Foundations/P0000-pkg/000-fleet
	./Olympus2/90000-Enablement-Labs
	./Olympus2/90000-Enablement-Labs/000-Tools/sovereign
	./Olympus2/00000-Identity-Foundations/P0000-pkg/text
	./Olympus2/00000-Identity-Foundations/P0000-pkg/pretty
	./Olympus2/00000-Identity-Foundations/P0000-pkg/go-internal
	./Olympus2/00000-Identity-Foundations/P0000-pkg/check.v1
)
